div {
    text-align: center
}

.title {
    color: #183A1D;
}

body {
    background-color: #E1EEDD;
}

a {
    padding: 1em;
    margin: 3em;
    text-decoration: none;
    border: 2px solid #183A1D;
    color: #183A1D;
    border-radius: 1em;
    background-color: #F0A04B;
}

a:hover {
    background-color: #df9444;

}